In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sna

In [2]:
train=pd.read_csv('train.csv')
test=pd.read_csv('test.csv')
combine=[train,test]

In [3]:
train

,Id,Open Date,City,City Group,Type,P1,P2,P3,P4,P5,...,P29,P30,P31,P32,P33,P34,P35,P36,P37,revenue
0,0,07/17/1999,İstanbul,Big Cities,IL,4,5.0,4.0,4.0,2,...,3.0,5,3,4,5,5,4,3,4,5653753.0
1,1,02/14/2008,Ankara,Big Cities,FC,4,5.0,4.0,4.0,1,...,3.0,0,0,0,0,0,0,0,0,6923131.0
2,2,03/09/2013,Diyarbakır,Other,IL,2,4.0,2.0,5.0,2,...,3.0,0,0,0,0,0,0,0,0,2055379.0
3,3,02/02/2012,Tokat,Other,IL,6,4.5,6.0,6.0,4,...,7.5,25,12,10,6,18,12,12,6,2675511.0
4,4,05/09/2009,Gaziantep,Other,IL,3,4.0,3.0,4.0,2,...,3.0,5,1,3,2,3,4,3,3,4316715.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,132,06/25/2008,Trabzon,Other,FC,2,3.0,3.0,5.0,4,...,3.0,0,0,0,0,0,0,0,0,5787594.0
133,133,10/12/2006,İzmir,Big Cities,FC,4,5.0,4.0,4.0,2,...,3.0,0,0,0,0,0,0,0,0,9262754.0
134,134,07/08/2006,Kayseri,Other,FC,3,4.0,4.0,4.0,2,...,3.0,0,0,0,0,0,0,0,0,2544857.0
135,135,10/29/2010,İstanbul,Big Cities,FC,4,5.0,4.0,5.0,2,...,3.0,0,0,0,0,0,0,0,0,7217634.0
136,136,09/01/2009,İstanbul,Big Cities,FC,4,5.0,3.0,5.0,2,...,3.0,0,0,0,0,0,0,0,0,6363241.0

In [4]:
test

,Id,Open Date,City,City Group,Type,P1,P2,P3,P4,P5,...,P28,P29,P30,P31,P32,P33,P34,P35,P36,P37
0,0,01/22/2011,Niğde,Other,FC,1,4.0,4.0,4.0,1,...,2.0,3.0,0,0,0,0,0,0,0,0
1,1,03/18/2011,Konya,Other,IL,3,4.0,4.0,4.0,2,...,1.0,3.0,0,0,0,0,0,0,0,0
2,2,10/30/2013,Ankara,Big Cities,FC,3,4.0,4.0,4.0,2,...,2.0,3.0,0,0,0,0,0,0,0,0
3,3,05/06/2013,Kocaeli,Other,IL,2,4.0,4.0,4.0,2,...,2.0,3.0,0,4,0,0,0,0,0,0
4,4,07/31/2013,Afyonkarahisar,Other,FC,2,4.0,4.0,4.0,1,...,5.0,3.0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99995,01/05/2000,Antalya,Other,FC,5,5.0,4.0,4.0,2,...,2.0,3.0,0,0,0,0,0,0,0,0
99996,99996,07/18/2011,Niğde,Other,IL,1,2.0,4.0,3.0,1,...,1.0,3.0,5,0,0,0,4,0,0,0
99997,99997,12/29/2012,İstanbul,Big Cities,IL,4,5.0,4.0,4.0,1,...,4.0,1.0,5,5,3,2,4,4,4,2
99998,99998,10/12/2013,İstanbul,Big Cities,FC,12,7.5,6.0,6.0,4,...,7.5,5.0,0,0,0,4,0,0,0,0
99999,99999,10/05/2010,İstanbul,Big Cities,IL,2,5.0,4.0,4.0,2,...,5.0,3.0,0,2,0,2,2,4,2,0

In [5]:
train.shape

(137, 43)

In [6]:
test

,Id,Open Date,City,City Group,Type,P1,P2,P3,P4,P5,...,P28,P29,P30,P31,P32,P33,P34,P35,P36,P37
0,0,01/22/2011,Niğde,Other,FC,1,4.0,4.0,4.0,1,...,2.0,3.0,0,0,0,0,0,0,0,0
1,1,03/18/2011,Konya,Other,IL,3,4.0,4.0,4.0,2,...,1.0,3.0,0,0,0,0,0,0,0,0
2,2,10/30/2013,Ankara,Big Cities,FC,3,4.0,4.0,4.0,2,...,2.0,3.0,0,0,0,0,0,0,0,0
3,3,05/06/2013,Kocaeli,Other,IL,2,4.0,4.0,4.0,2,...,2.0,3.0,0,4,0,0,0,0,0,0
4,4,07/31/2013,Afyonkarahisar,Other,FC,2,4.0,4.0,4.0,1,...,5.0,3.0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99995,01/05/2000,Antalya,Other,FC,5,5.0,4.0,4.0,2,...,2.0,3.0,0,0,0,0,0,0,0,0
99996,99996,07/18/2011,Niğde,Other,IL,1,2.0,4.0,3.0,1,...,1.0,3.0,5,0,0,0,4,0,0,0
99997,99997,12/29/2012,İstanbul,Big Cities,IL,4,5.0,4.0,4.0,1,...,4.0,1.0,5,5,3,2,4,4,4,2
99998,99998,10/12/2013,İstanbul,Big Cities,FC,12,7.5,6.0,6.0,4,...,7.5,5.0,0,0,0,4,0,0,0,0
99999,99999,10/05/2010,İstanbul,Big Cities,IL,2,5.0,4.0,4.0,2,...,5.0,3.0,0,2,0,2,2,4,2,0

In [7]:
train=pd.read_csv('train.csv')
train = train.drop('Type', axis=1)
train = train.drop('City Group', axis=1)
train = train.drop('City', axis=1)
train = train.drop('Open Date', axis=1)
train = train.drop('Id', axis=1)

In [8]:
train

,P1,P2,P3,P4,P5,P6,P7,P8,P9,P10,...,P29,P30,P31,P32,P33,P34,P35,P36,P37,revenue
0,4,5.0,4.0,4.0,2,2,5,4,5,5,...,3.0,5,3,4,5,5,4,3,4,5653753.0
1,4,5.0,4.0,4.0,1,2,5,5,5,5,...,3.0,0,0,0,0,0,0,0,0,6923131.0
2,2,4.0,2.0,5.0,2,3,5,5,5,5,...,3.0,0,0,0,0,0,0,0,0,2055379.0
3,6,4.5,6.0,6.0,4,4,10,8,10,10,...,7.5,25,12,10,6,18,12,12,6,2675511.0
4,3,4.0,3.0,4.0,2,2,5,5,5,5,...,3.0,5,1,3,2,3,4,3,3,4316715.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,2,3.0,3.0,5.0,4,2,4,4,4,4,...,3.0,0,0,0,0,0,0,0,0,5787594.0
133,4,5.0,4.0,4.0,2,3,5,4,4,5,...,3.0,0,0,0,0,0,0,0,0,9262754.0
134,3,4.0,4.0,4.0,2,3,5,5,5,5,...,3.0,0,0,0,0,0,0,0,0,2544857.0
135,4,5.0,4.0,5.0,2,2,5,5,5,5,...,3.0,0,0,0,0,0,0,0,0,7217634.0
136,4,5.0,3.0,5.0,2,2,5,4,4,5,...,3.0,0,0,0,0,0,0,0,0,6363241.0

In [9]:
train.shape, test.shape

((137, 38), (100000, 42))

In [10]:
test=pd.read_csv('test.csv')
test=test.drop(['Type'], axis=1)
test=test.drop(['City'], axis=1)
test=test.drop(['City Group'], axis=1)
test=test.drop(['Open Date'], axis=1)

In [11]:
train

,P1,P2,P3,P4,P5,P6,P7,P8,P9,P10,...,P29,P30,P31,P32,P33,P34,P35,P36,P37,revenue
0,4,5.0,4.0,4.0,2,2,5,4,5,5,...,3.0,5,3,4,5,5,4,3,4,5653753.0
1,4,5.0,4.0,4.0,1,2,5,5,5,5,...,3.0,0,0,0,0,0,0,0,0,6923131.0
2,2,4.0,2.0,5.0,2,3,5,5,5,5,...,3.0,0,0,0,0,0,0,0,0,2055379.0
3,6,4.5,6.0,6.0,4,4,10,8,10,10,...,7.5,25,12,10,6,18,12,12,6,2675511.0
4,3,4.0,3.0,4.0,2,2,5,5,5,5,...,3.0,5,1,3,2,3,4,3,3,4316715.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,2,3.0,3.0,5.0,4,2,4,4,4,4,...,3.0,0,0,0,0,0,0,0,0,5787594.0
133,4,5.0,4.0,4.0,2,3,5,4,4,5,...,3.0,0,0,0,0,0,0,0,0,9262754.0
134,3,4.0,4.0,4.0,2,3,5,5,5,5,...,3.0,0,0,0,0,0,0,0,0,2544857.0
135,4,5.0,4.0,5.0,2,2,5,5,5,5,...,3.0,0,0,0,0,0,0,0,0,7217634.0
136,4,5.0,3.0,5.0,2,2,5,4,4,5,...,3.0,0,0,0,0,0,0,0,0,6363241.0

In [12]:
test

,Id,P1,P2,P3,P4,P5,P6,P7,P8,P9,...,P28,P29,P30,P31,P32,P33,P34,P35,P36,P37
0,0,1,4.0,4.0,4.0,1,2,5,4,5,...,2.0,3.0,0,0,0,0,0,0,0,0
1,1,3,4.0,4.0,4.0,2,2,5,3,4,...,1.0,3.0,0,0,0,0,0,0,0,0
2,2,3,4.0,4.0,4.0,2,2,5,4,4,...,2.0,3.0,0,0,0,0,0,0,0,0
3,3,2,4.0,4.0,4.0,2,3,5,4,5,...,2.0,3.0,0,4,0,0,0,0,0,0
4,4,2,4.0,4.0,4.0,1,2,5,4,5,...,5.0,3.0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99995,5,5.0,4.0,4.0,2,2,5,5,4,...,2.0,3.0,0,0,0,0,0,0,0,0
99996,99996,1,2.0,4.0,3.0,1,1,1,5,5,...,1.0,3.0,5,0,0,0,4,0,0,0
99997,99997,4,5.0,4.0,4.0,1,2,5,3,4,...,4.0,1.0,5,5,3,2,4,4,4,2
99998,99998,12,7.5,6.0,6.0,4,4,10,10,10,...,7.5,5.0,0,0,0,4,0,0,0,0
99999,99999,2,5.0,4.0,4.0,2,2,5,5,5,...,5.0,3.0,0,2,0,2,2,4,2,0

In [13]:
X_train = train.drop("revenue", axis=1)
Y_train = train["revenue"]
X_test  = test.drop("Id", axis=1).copy()
Y_test = test["Id"]
#Y_test = test["Id"]
X_train.shape, Y_train.shape, X_test.shape,Y_test.shape

((137, 37), (137,), (100000, 37), (100000,))

In [14]:
train.info()
print("---")
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137 entries, 0 to 136
Data columns (total 38 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   P1       137 non-null    int64
 1   P2       137 non-null    float64
 2   P3       137 non-null    float64
 3   P4       137 non-null    float64
 4   P5       137 non-null    int64
 5   P6       137 non-null    int64
 6   P7       137 non-null    int64
 7   P8       137 non-null    int64
 8   P9       137 non-null    int64
 9   P10      137 non-null    int64
 10  P11      137 non-null    int64
 11  P12      137 non-null    int64
 12  P13      137 non-null    float64
 13  P14      137 non-null    int64
 14  P15      137 non-null    int64
 15  P16      137 non-null    int64
 16  P17      137 non-null    int64
 17  P18      137 non-null    int64
 18  P19      137 non-null    int64
 19  P20      137 non-null    int64
 20  P21      137 non-null    int64
 21  P22      137 non-null    int64
 22  P23      137 non-null    int64
 23  P24      137 non-null    int64
 24  P25      137 non-null    int64
 25  P26      137 non-null    float64
 26  P27      137 non-null    float64
 27  P28      137 non-null    float64
 28  P29      137 non-null    float64
 29  P30      137 non-null    int64
 30  P31      137 non-null    int64
 31  P32      137 non-null    int64
 32  P33      137 non-null    int64
 33  P34      137 non-null    int64
 34  P35      137 non-null    int64
 35  P36      137 non-null    int64
 36  P37      137 non-null    int64
 37  revenue  137 non-null    float64
dtypes: float64(9), int64(29)
memory usage: 40.8 KB
---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 38 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Id      100000 non-null  int64
 1   P1      100000 non-null  int64
 2   P2      100000 non-null  float64
 3   P3      100000 non-null  float64
 4   P4      100000 non-null  float64
 5   P5      100000 non-null  int64
 6   P6      100000 non-null  int64
 7   P7      100000 non-null  int64
 8   P8      100000 non-null  int64
 9   P9      100000 non-null  int64
 10  P10     100000 non-null  int64
 11  P11     100000 non-null  int64
 12  P12     100000 non-null  int64
 13  P13     100000 non-null  float64
 14  P14     100000 non-null  int64
 15  P15     100000 non-null  int64
 16  P16     100000 non-null  int64
 17  P17     100000 non-null  int64
 18  P18     100000 non-null  int64
 19  P19     100000 non-null  int64
 20  P20     100000 non-null  int64
 21  P21     100000 non-null  int64
 22  P22     100000 non-null  int64
 23  P23     100000 non-null  int64
 24  P24     100000 non-null  int64
 25  P25     100000 non-null  int64
 26  P26     100000 non-null  float64
 27  P27     100000 non-null  float64
 28  P28     100000 non-null  float64
 29  P29     100000 non-null  float64
 30  P30     100000 non-null  int64
 31  P31     100000 non-null  int64
 32  P32     100000 non-null  int64
 33  P33     100000 non-null  int64
 34  P34     100000 non-null  int64
 35  P35     100000 non-null  int64
 36  P36     100000 non-null  int64
 37  P37     100000 non-null  int64
dtypes: float64(8), int64(30)
memory usage: 29.0 MB

In [15]:
train

,P1,P2,P3,P4,P5,P6,P7,P8,P9,P10,...,P29,P30,P31,P32,P33,P34,P35,P36,P37,revenue
0,4,5.0,4.0,4.0,2,2,5,4,5,5,...,3.0,5,3,4,5,5,4,3,4,5653753.0
1,4,5.0,4.0,4.0,1,2,5,5,5,5,...,3.0,0,0,0,0,0,0,0,0,6923131.0
2,2,4.0,2.0,5.0,2,3,5,5,5,5,...,3.0,0,0,0,0,0,0,0,0,2055379.0
3,6,4.5,6.0,6.0,4,4,10,8,10,10,...,7.5,25,12,10,6,18,12,12,6,2675511.0
4,3,4.0,3.0,4.0,2,2,5,5,5,5,...,3.0,5,1,3,2,3,4,3,3,4316715.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,2,3.0,3.0,5.0,4,2,4,4,4,4,...,3.0,0,0,0,0,0,0,0,0,5787594.0
133,4,5.0,4.0,4.0,2,3,5,4,4,5,...,3.0,0,0,0,0,0,0,0,0,9262754.0
134,3,4.0,4.0,4.0,2,3,5,5,5,5,...,3.0,0,0,0,0,0,0,0,0,2544857.0
135,4,5.0,4.0,5.0,2,2,5,5,5,5,...,3.0,0,0,0,0,0,0,0,0,7217634.0
136,4,5.0,3.0,5.0,2,2,5,4,4,5,...,3.0,0,0,0,0,0,0,0,0,6363241.0

In [16]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier

D:\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:144: FutureWarning: The sklearn.linear_model.perceptron module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.linear_model. Anything that cannot be imported from sklearn.linear_model is now part of the private API.
  warnings.warn(message, FutureWarning)

In [17]:
svc = SVC()
svc.fit(X_train, Y_train)
Y_pred = svc.predict(X_test)
prediction_svc = round(svc.score(X_train, Y_train) * 100, 2)
prediction_svc

99.27

In [18]:
# Decision Tree

decision_tree = DecisionTreeClassifier()
decision_tree.fit(X_train, Y_train,)
Y_pred = decision_tree.predict(X_test)
prediction_decision_tree = round(decision_tree.score(X_train, Y_train) * 100, 2)
prediction_decision_tree

99.27

In [19]:
# Random Forest

random_forest = RandomForestClassifier(n_estimators=100)
random_forest.fit(X_train, Y_train)
Y_pred = random_forest.predict(X_test)
random_forest.score(X_train, Y_train)
prediction_random_forest = round(random_forest.score(X_train, Y_train) * 100, 2)
prediction_random_forest

99.27

In [20]:
submission = pd.DataFrame({
        "Id": test["Id"],
        "Prediction": Y_pred
    })

In [21]:
submission.head()

   Id  Prediction
0   0   2390534.0
1   1   2344689.0
2   2   5435276.0
3   3   4066618.0
4   4   7495092.0

In [22]:
submission.to_csv('restaurant solution.csv', index=False, header=1)